/* Lato Google Font */
@import url(https://fonts.googleapis.com/css?family=Lato:300i,300,400,700);

/* === Reset === */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* === End Reset === */



/* Page style */
html, body {
	background: #111214 url("img/page_bg.png") repeat-x;
	color: #fff;
	font: 17px/1 Lato, sans-serif;
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a,
button {
    color: inherit;
    transition: .2s;
}

a {
    text-decoration: none;
}

a:hover {
	color: #4cc6ff;
}

/* Page layout styles */
#container {
	text-align: center;
	margin: 0 auto 0;
	max-width: 1000px;
}

header#site-header {
	font-size: 35px;
	font-weight: 300;
	padding: 45px 0;
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

main {
	text-align: left;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	flex-direction: column;
	padding: 0;
}

main section {
	padding: 0 70px;
	margin: 0 0 80px;
	flex: 1;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;
}

main section h1 {
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 25px;
}

main section h1 strong {
	font-weight: 400;
}

main section h1 em {
	font-style: oblique;
	font-weight: 300;
}

main section p {
	line-height: 26px;
	color: #ddd;
}

footer {
	border-top: 1px solid #333;
	padding: 35px;
	color: #555;
}

/* Top section styles */
#secTop {
	background-image: url("img/top_bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 310px;
	margin-bottom: 35px;
}

#secTop h1 {
	line-height: 47px;
}

a.download-button {
	background-color: #0081bd;
	padding: 15px;
	border-radius: 30px;
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	width: 200px;
	text-shadow: none;
}

a.download-button:hover {
	color: #0081bd;
	background-color: #fff;
}

a.download-button div {
	padding-top: 5px;
	font-weight: normal;
	font-size: 14px;
}

/* Nav section styles */
#secNav {
	flex-flow: column wrap;
	justify-content: center;
	text-align: center;
}

#secNav h1 {
	line-height: 47px;
}

#secNav a {
	display: inline-block;
	border: 1px solid #333;
	padding: 10px 20px;
	margin-left: -1px;
}

#secNav a:hover {
	border-color: #555;
	margin-right: 1px;
	padding: 10px 19px 10px 20px;
}

#secNav a#navLast:hover {
	padding: 10px 20px;
	margin: 0 0 0 -1px;
}

#secNav a#navFirst {
	border-radius: 30px 0px 0px 30px
}

#secNav a#navLast {
	border-radius: 0px 30px 30px 0px
}

/* Long section (taskbar, folder stacks) styles */
.secLongImg {
	margin: 0 0px 35px;
	padding: 0;
}

.secLongImg img {
	width: 100%;
}

.secLong h1 {
	margin: 0 70px 0 0;
}

/* Text on Right section (programs menu) styles */
.secRight {
	padding: 0 70px 0 0;
}

.secRight img {
	max-width: 70%;
}

.secRight .sectionDetails {
	margin-left: -15%;
	margin-top: 5%;
}

/* Text on Left section (dynamic desktop) styles */
.secLeft {
	padding: 0 0 0 70px;
}

.secLeft img {
	max-width: 40%;
	margin-right: 70px;
}

.secLeft .sectionDetails {
	padding-right: 40px;
}

/* Begin mobile styles */
@media only screen and (max-width: 850px) {
    
    main section h1 {
	    font-size: 30px;
    }
    
    #secTop h1 {
	    font-size: 36px;
    }
    
    #secTop {
	    min-height: 260px;
    }

	.secRight .sectionDetails {
		margin-left: -15%;
		margin-top: 10%;
	}
    
}

@media only screen and (max-width: 720px) {
    
    #secTop {
	    min-height: 200px;
	    padding-top: 30px;
	    margin-bottom: 40px;
    }
    
    a.download-button {
	    margin-top: 30px;
    }
    
    .secLeft .sectionDetails, .secRight .sectionDetails {
	    padding: 0;
	    margin: 0;
	    order: 2;
    }

	.secLong h1 {
		margin: 0 0 25px 0;
		align-self: flex-start;
	}
    
    main section, .secLeft, .secRight {
	    flex-flow: column wrap;
	    padding: 0 20px;
    }
    
    .secLeft img, .secRight img {
	    max-width: 100%;
	    margin: 0 0 35px;
	    order: 1;
    }
    
    #secNav a, #secNav a#navFirst, #secNav a#navLast {
		display: inline-block;
		border: 1px solid #333;
		padding: 10px;
		margin: 5px;
		border-radius: 30px;
		width: 200px;
	}
	
	#secNav a:hover, #secNav a#navFirst:hover, #secNav a#navLast:hover {
		border-color: #555;
		padding: 10px;
		margin: 5px;
	}
    
}